/*============
Page variables
==============*/

:root {

  /*color scheme*/
  --col_main: #6930C3; 
  --col_shadow: #5E60CE ; 
  --col_lowlight: #4EA8DE; 
  --col_highlight: #64DFDF; 
  --col_dark: #1E1B18;
  --col_light: #FFFAFF;

  /*fonts*/
  
  /*margins and paddings*/

  /*borders*/
}

/*======================================
Back to Basics - reset browser defaults
=======================================*/
html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-size: 16px;
  line-height: 1.5;
}

body * {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/*reset default font - never shall Times New Roman be seen again!*/
:is(h1, h2, h3, h4, h5, h6, p, a, li, figcaption) {
  font-family: Verdana, sans-serif;
}


 li {
  list-style: none;
}


/*=====
Layout
======*/
body {
  display: grid;
  grid-template-areas: 
  "header header header"
  "nav nav nav"
  "main main main"
  "aside aside aside"
  "footer footer footer";
  grid-gap: 0.6rem;
  margin: 1rem;
  background-color: var(--col_main);
  background-image: linear-gradient(to bottom,#6930C3, #5930C3, #4930C3, #3930C3, #2930C3, #1930C3);

}

/*=====
Header 
======*/
body > header {
  grid-area: header;
  color: #FFFAFF;
  text-align: center;
}
/*=======
Nav Menu
=========*/
nav {
  grid-area: nav;
}

nav ul {
  display: flex;
  flex-flow: row wrap;
  padding: 0.6rem;
 
}

nav ul li {
  flex: 1;
  text-align: center;
}
/*==========================
Main and Section containers
===========================*/
main {
  grid-area: main;
  padding: 0.6rem;
  border: 1px solid var(--col_dark);
  box-shadow: 1px 1px 4px var(--col_dark),
  -1px -1px 4px var(--col_dark);
  background-color: var(--col_light);
  
}

/*=====
Sidebar
======*/
aside {
  grid-area: aside;

}

/*=====
Footer
=======*/
footer {
  grid-area: footer;

}

/*================
The little touches
=================*/

/*Back to top shortcut button*/
.backtotop {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 1.2rem;
  }
  
  .backtotop a:link,
  .backtotop a:hover,
  .backtotop a:active,
  .backtotop a:visited {
    color: var(--col_main);
  }
  
  /*in case of image not found
  img {
    position: relative;
    display: inline-block;
  }
  img:after {
    display: inherit;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    border: 1px dashed slategrey;
    background-color: lightgrey;
    z-index: 1;
    font-family: verdana;
    font-size: 0.8rem;
    content: "" attr(alt) " was not found";
  }
in case of image not found*/

/*================
Responsivesnness
==================*/
/*
@media only screen and (min-width: 1024px) {

}
*/

/*=============
Accessibility
===============*/

@media (prefers-color-scheme: dark) {
  root {
    --col_dark: #1E1B18;
    --col_light: #FFFAFF;
  }
}
  
@media (prefers-color-scheme: light) {
  root {
    --col_dark: #FFFAFF;
    --col_light: #1E1B18;
  }
}    
  
/*Reset to user browser preference*/
@media (prefers-reduced-motion: reduce) {

  body {
    scroll-behavior: auto;
  }
}
  
  /*======================
    Ye Olde Time Print View
    ========================*/
  @media print {
    /*remove unneeded elements*/

    /*display footer links*/
  
    footer a:link {
      color: #000;
      margin: 0;
      display: block;
      font-size: 10pt;
    }
  
    footer a::after {
      content: " [" attr(href) "]";
    }
  
    footer a:link,
    footer a:visited {
      color: #000;
      background: none;
      padding: 0;
    }
  }