/*============
Page variables
==============*/

:root {

  /*color scheme*/
  --col_main: hsl(263, 60, 48); 
  --col_shadow: hsl(239, 53, 59); 
  --col_lowlight: hsl(203, 69, 59); 
  --col_highlight: hsl(180, 66, 63); 
  --col_dark: #1E1B18;
  --col_light: #FFFAFF;

  /*fonts*/
  
  /*margins and paddings*/

  /*borders*/
}

/*======================================
Back to Basics - reset browser defaults
=======================================*/
html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-size: 16px;
  line-height: 1.5;
}

body * {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/*reset default font - never shall Times New Roman be seen again!*/
body:is(h1, h2, h3, h4, h5, h6, p, a, li, figcaption) {
  font-family: Verdana, sans-serif;
}


/*=====
Layout
======*/
body {
  display: grid;
  grid-template-areas: 
  "header header header"
  "nav nav nav"
  "main main main"
  "aside aside aside"
  "footer footer footer";
  grid-gap: 0.6rem;
  margin: 1rem;
  background-color:#6930C3; /*fallback*/
  background-image: linear-gradient(to bottom, var(--col_light, #FFFAFF), var(--col_main, #6930C3) var(--col_shadow, #5E60CE) var(--col_lowlight, #4EA8DE) var(--col_highlight, #64DFDF));

}

/*=====
Header 
======*/
body > header {
  grid-area: header;
  border: 5px solid blue;
}
/*=======
Nav Menu
=========*/
nav {
  grid-area: nav;
  border: 5px solid pink;
}

/*==========================
Main and Section containers
===========================*/
main {
  grid-area: main;
  border: 5px solid green;
}

/*=====
Sidebar
======*/
aside {
  grid-area: aside;
  border: 5px solid yellow;
}

/*=====
Footer
=======*/
footer {
  grid-area: footer;
  border: 5px solid orange;
}

/*================
The little touches
=================*/

/*Back to top shortcut button*/
.backtotop {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 1.2rem;
  }
  
  .backtotop a:link,
  .backtotop a:hover,
  .backtotop a:active,
  .backtotop a:visited {
    color: var(--body-col);
  }
  
  /*in case of image not found
  img {
    position: relative;
    display: inline-block;
  }
  img:after {
    display: inherit;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    border: 1px dashed slategrey;
    background-color: lightgrey;
    z-index: 1;
    font-family: verdana;
    font-size: 0.8rem;
    content: "" attr(alt) " was not found";
  }
in case of image not found*/

/*================
Responsivesnness
==================*/
/*
@media only screen and (min-width: 1024px) {

}
*/

/*=============
Accessibility
===============*/

@media (prefers-color-scheme: dark) {}
  
@media (prefers-color-scheme: light) {}    
  
/*Reset to user browser preference*/
@media (prefers-reduced-motion: reduce) {
  body {
    scroll-behavior: auto;
  }
}
  
  /*======================
    Ye Olde Time Print View
    ========================*/
  @media print {
    /*remove unneeded elements*/

    /*display footer links*/
  
    footer a:link {
      color: #000;
      margin: 0;
      display: block;
      font-size: 10pt;
    }
  
    footer a::after {
      content: " [" attr(href) "]";
    }
  
    footer a:link,
    footer a:visited {
      color: #000;
      background: none;
      padding: 0;
    }
  }