/*============
Page variables
==============*/

:root {
  /*color scheme*/
  --col_main: #6930c3;
  --col_shadow: #5e60ce;
  --col_lowlight: #4ea8de;
  --col_highlight: #64dfdf;
  --col_dark: #1e1b18;
  --col_light: #fffaff;

  /*fonts*/
  --font_main: "Roboto", sans-serif;
}

/*======================================
Back to Basics - reset browser defaults
=======================================*/
html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-size: 16px;
  line-height: 1.5;
}

body * {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/*reset default font - never shall Times New Roman be seen again!*/
:is(h1, h2, h3, h4, h5, h6, p, a, li, figcaption) {
  font-family: Verdana, sans-serif;
}

:where(ul, ol) {
  list-style: none;
}

/*=====
Layout
======*/
body {
  display: grid;
  grid-template-areas:
    "header header header"
    "nav nav nav"
    "main main main"
    "aside aside aside"
    "footer footer footer";
  grid-gap: 0.6rem;
  margin: 1rem 0;
  background-color: var(--col_main);
  background-image: linear-gradient(
    to bottom,
    #6930c3,
    #5930c3,
    #4930c3,
    #3930c3,
    #2930c3,
    #1930c3
  );
}

/*=====
Header 
======*/
body > header {
  grid-area: header;
}

h1 {
  padding: 0 0.3rem;
  color: #6930c3;
  border-bottom: dotted 3px #000;
  text-align: center;
  font-family: var(--font_main);
  font-size: clamp(1.2rem, 2rem, 3.2rem);
  letter-spacing: 3px;
  font-kerning: none;
  text-shadow: 0px 0px 10px #000, 1px 1px 2px #000, -1px -1px 2px #000;
}
/*=======
Nav Menu
=========*/
nav {
  grid-area: nav;
}

#main_nav {
  display: flex;
  flex-flow: row wrap;
  padding: 0.6rem;
}

#main_nav li {
  flex: 1;
  margin: 0.5rem 1rem;
  padding: 0.6rem 1.8rem;
  box-shadow: 1px 1px 5px #000;
  border-radius: 1rem;
}

#main_nav li a {
  display: inline-block;
  width: 100%;
  color: var(--col_light);
  text-align: center;
  text-decoration: none;
  font-size: clamp(0.8rem, 1.4rem, 2rem);
  font-weight: bold;
  text-shadow: 1px 1px 2px var(--col_dark);
}

#main_nav li:hover,
#main_nav li:active {
  box-shadow: 1px 1px 20px #000;
}

/*==========================
Main and Section containers
===========================*/
main {
  grid-area: main;
  margin: 0 0.4rem;
  padding: 0.6rem;
  border: 1px solid var(--col_dark);
  box-shadow: 1px 1px 4px var(--col_dark), -1px -1px 4px var(--col_dark);
  background-color: var(--col_light);
}

section {
  margin: 0.2rem;
  padding: 0.4rem;
}

h2 {
  margin-block-end: 0.4rem;
  border-block-end: var(--col_main) 0.6rem solid;
  color: var(--col_dark);
  font-size: clamp(1rem, 1.8rem, 2.2rem);
}

.sub_nav {
  margin: 0.4rem 0;
}

.sub_nav li {
  margin: 0.2rem;
  padding: 0.6rem;
  border-radius: 1rem;
  border: solid 0.2rem var(--col_main);
}

.sub_nav li a {
  display: inline-block;
  width: 100%;
  color: var(--col_dark);
  font-size: clamp(0.8rem, 1.2rem, 1.8rem);
  text-decoration: none;
  line-height: 1.5;
}

/*button actions for sub-menu*/
.sub_nav li:hover,
.sub_nav li:hover {
  background-color: var(--col_main);
}

section p {
  color: var(--col_dark);
  font-size: clamp(0.8rem, 1.2rem, 1.6rem);
  line-height: 1.5;
}

section .subsection {
  margin: 0;
  padding: 0.4rem;
  border-left: 0.2rem solid var(--col_highlight);
  position: relative;
}

h3 {
  margin-block-end: 0.2rem;
  color: var(--col_highlight);
  text-shadow: 1px 1px 2px #000;
  font-size: clamp(1rem, 1.4rem, 1.8rem);
}

.subsec_intro ul li a {
  display: inline-block;
  width: 100%;
  color: var(--col_dark);
  font-size: clamp(0.8rem, 1.2rem, 1.8rem);
  text-decoration: none;
  line-height: 1.5;
}
/*button actions for sub-sub-menu*/
.subsec_intro ul li {
  margin: 0.2rem;
  padding: 0.6rem;
  border-radius: 1rem;
  border: solid 0.2rem var(--col_highlight);
}

.subsec_intro ul li:hover,
.subsec_intro ul li:hover {
  background-color: var(--col_highlight);
}
/*=============================
Code snippets and example boxes
==============================*/
code {
  display: inline-block;
  width: 100%;
  margin: 1rem 0.4rem;
  padding: 0.6rem;
  border: dashed 2px black;
  background-clip: content;
  background-color: grey;
  line-height: 1.8;
  font-size: 1.2rem;
  font-weight: bold;
}

code .comment {
  font-style: italic;
  font-weight: normal;
}

main figure {
  display: flex;
  flex-flow: column wrap;
  margin: 0.3rem 0.4rem;
  padding: 0.3rem;
  background-color: var(--col_highlight);
  border: dashed 2px #000;
}

figcaption {
  padding: 0.3rem;
  margin-block-end: 0.3rem;
  font-style: italic;
  font-weight: bold;
}

/*==================
code example figures
===================*/
.example_fig_box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-end: 0.6rem;
  padding: 1rem 0.5rem;
}

.example_fig {
  width: 100px;
  height: 100px;
  border: 2px solid #000;
  background-color: var(--col_lowlight);
}

/*scale examples*/
.scalex {
  -moz-transform: scaleX(1.5);
  -webkit-transform: scaleX(1.5);
  transform: scaleX(1.5);
}

.scaley {
  -moz-transform: scaleY(1.5);
  -webkit-transform: scaleY(1.5);
  transform: scaleY(1.5);
}

.scalexy {
  -moz-transform: scale(0.5, 0.5);
  -webkit-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5);
}

/*skew examples*/
.skewx {
  transform: skewX(10deg);
}

.skewy {
  transform: skewY(10deg);
}

.skewxy {
  transform: skew(10deg, 10deg);
}

/*translate examples*/
.translatex {
  transform: translateX(50px);
}

.translatey {
  transform: translateY(-20px);
}

.translatexy {
  transform: translate(50px, 50px);
}

/*rotate examples*/
.rotate {
  transform: rotate(40deg);
}

.rotatex {
  transform: rotateX(40deg);
}

.rotatey {
  transform: rotateY(40deg);
}

/*3D examples*/

#example_3d {
  width: 200px;
  height: 200px;
  perspective: 1000px;
}

.cube {
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  position: relative;
  animation: spin 6s infinite linear;
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: repeating-linear-gradient(
      0deg,
      rgba(70, 70, 70, 0.2) 0px,
      rgba(70, 70, 70, 0.2) 1px,
      transparent 1px,
      transparent 21px
    ),
    repeating-linear-gradient(
      90deg,
      rgba(70, 70, 70, 0.2) 0px,
      rgba(70, 70, 70, 0.2) 1px,
      transparent 1px,
      transparent 21px
    ),
    linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255));
  border: solid 1px black;
}

.top {
  transform: rotateX(90deg) translateZ(100px);
}

.bottom {
  transform: rotateX(-90deg) translateZ(100px);
}

.right {
  transform: rotateY(90deg) translateZ(100px);
}

.left {
  transform: rotateY(-90deg) translateZ(100px);
}

.front {
  transform: rotateX(0deg) translateZ(100px);
}

.back {
  transform: rotateX(-180deg) translateZ(100px);
}

@keyframes spin {
  from {
    transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

/*transition examples*/
.trans_example {
  margin: 0 auto;
  width: 250px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trans_box {
  width: 100px;
  height: 100px;
  background-color: var(--col_light);
  animation: flip 6s infinite;
}

.ease {
  transition-timing-function: ease;
}

.linear {
  transition-timing-function: linear;
}

.ease-in {
  transition-timing-function: ease-in;
}

.ease-out {
  transition-timing-function: ease-out;
}

.ease-in-out {
  transition-timing-function: ease-in-out;
}

.cubic_bezier {
  transition-timing-function: cubic-bezier(0.1, 0.7, 1, 0.1);
}

@keyframes flip {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*=====
Sidebar
======*/
aside {
  position: relative;
  grid-area: aside;
  margin: 0.6rem 1rem;
  padding: 0.4rem;
  background-color: var(--col_light);
  border: 0.4rem solid #000;
}

aside p {
  padding: 0.4rem;
  line-height: 1.5;
}

#cheatsheetlist {
  position: sticky;
  top: 0;
  display: flex;
  flex-flow: column wrap;
}

#cheatsheetlist li {
  margin: 0.2rem;
  padding: 0.4rem;
  border-inline-start: solid 0.4rem var(--col_main);
}

#cheatsheetlist li a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  color: inherit;
}

#cheatsheetlist li:is(:focus, :hover) {
  background-color: var(--col_main);
  color: var(--col_light);
}
/*=====
Footer
=======*/
footer {
  grid-area: footer;
}

#about_me {
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

#about_me p {
  flex: 1;
  padding-inline-start: 0.4rem;
  text-align: end;
  color: var(--col_light);
}

#about_me p abbr {
  font-weight: bold;
}

#about_me figure {
  padding: 0 1rem;
}

#social_links {
  flex: 1;
  align-self: flex-start;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

#social_links .social a {
  display: inline-block;
  width: 100%;
  color: var(--col_light);
  text-shadow: 1px 1px 2px #000;
  font-size: 1.6rem;
}

#social_links .social a:link,
#social_links .social a:hover,
#social_links .social a:active {
  color: var(--col_highlight);
}

#about_page {
  text-align: center;
  color: var(--col_light);
}
/*================
The little touches
=================*/

/*Back to top shortcut button*/
.backtotop {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 1.2rem;
}

.backtotop a:link,
.backtotop a:hover,
.backtotop a:active,
.backtotop a:visited {
  color: var(--col_main);
}

/*in case of image not found*/
img {
  position: relative;
  display: inline-block;
}

img:after {
  display: inherit;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px;
  border: 1px dashed slategrey;
  background-color: lightgrey;
  z-index: 1;
  font-family: verdana;
  font-size: 0.8rem;
  content: "" attr(alt) " was not found";
}

/*================
Responsivesnness
==================*/
@media only screen and (min-width: 1024px) {
  body {
    grid-template-areas:
      "header header header"
      "nav nav nav"
      "main main aside"
      "main main aside"
      "footer footer footer";
  }
}

/*=============
Accessibility
===============*/

@media (prefers-color-scheme: dark) {
  root {
    --col_dark: #1e1b18;
    --col_light: #fffaff;
  }

  img {
    filter: brightness(0.8) saturate(1.25);
  }
}

@media (prefers-color-scheme: light) {
  root {
    --col_dark: #fffaff;
    --col_light: #1e1b18;
  }
}

/*minimal animation and scroll user preference*/
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*=========================
    Ye Olde Time Print View
    ========================*/
@media print {
  body {
    background-color: unset;
    color: #000;
  }

  /*remove unneeded elements*/
  header,
  nav,
  .sub_nav,
  .example_fig_box,
  fig_3D,
  .trans_example,
  aside,
  footer {
    display: none;
  }

  /*display footer links*/

  footer a:link {
    color: #000;
    margin: 0;
    display: block;
    font-size: 10pt;
  }

  footer a::after {
    content: " [" attr(href) "]";
  }

  footer a:link,
  footer a:visited {
    color: #000;
    background: none;
    padding: 0;
  }
}
